.App {
  z-index: 2;
  background: ghostwhite;
  border-radius: 5px;
  padding: 20px;
}

@media screen and (min-width: 1000px) {
  .App {
    margin: 20px;
    z-index: 2;
    position: absolute;
    right: 10px;
    background: ghostwhite;
    width: 350px;
    border-radius: 5px;
  }
}

.flexElements {
  display: flex;
  flex-wrap: wrap;
}

.centerElements {
  justify-content: center;
}
