.stationCard {
    padding: 10px 5px;
}

.stationCard:hover {
    background-color: rgb(50, 50, 50, 5%);
    cursor: pointer;
}

.stationsList {
    height: 100px;
    overflow-y: auto;
}

@media screen and (min-width: 1000px) {
    .stationCard {
        padding: 20px 10px;
    }

    .stationsList {
        height: 300px;
    }
}

@media only screen and (max-width: 700px) {
    .stationsList {
        width: 100%;
        margin-top: 20px;
    }
}
